<!-- this is view\teacher\edit.html -->
{extend name="room/index"/} {block name="title"}班级管理--成员编辑{/block} {block name="content"}
<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">班级管理</a></li>
                <li class="active">成员编辑</li>
            </ol>
        </div>
    </div>
    <form class="form-horizontal col-md-6 col-md-offset-3" action="{:url('update?id='.$Exam->id)}" method="post">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">考试名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail3" placeholder="考试名称" name="name"
                       value="{$Exam->name}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">考试时间</label>
            <div class="col-sm-10">
                <div class='input-group date' id='datetimepicker1'>
                    <input type="text" class="form-control" id="inputPassword3" placeholder="考试时间" name="exam_time"
                           value="{$Exam->exam_time}">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">班级编号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPassword3" placeholder="班级编号" name="room_id"
                       value="{$Exam->room_id}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">课程编号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPassword3" placeholder="课程编号" name="course_id"
                       value="{$Exam->course_id}">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-floppy-save"></i>&nbsp;保存
                </button>
            </div>
        </div>
    </form>
</div>

<script src="/testSystem/public/static/assets/js/jquery-1.10.2.js"></script>
<script src="/testSystem/public/static/assets/js/moment.js"></script>
<script src="/testSystem/public/static/assets/js/bootstrap.min.js"></script>
<script src="/testSystem/public/static/assets/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $('#datetimepicker1').datetimepicker({
        'format':'YYYY-MM-DD HH:mm:ss'
    });
</script>
{/block}