<!-- this is app/index/view/teacher/add.html -->
{extend name="room/index"/} {block name="title"}班级管理--班级{/block} {block name="content"}
<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="index.html">班级管理</a></li>
                <li class="active">班级成员</li>
            </ol>
        </div>
    </div>

    <a href="{:url('add')}" class="btn btn-primary col-md-offset-11">
        <li class="glyphicon glyphicon-plus"></li>&nbsp;添加</a>
    <hr>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr class="info">
                            <th>学号</th>
                            <th>性别</th>
                            <th>姓名</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="students" id="student"}
                        <tr>
                            <td>{$student->number}</td>
                            <td>{$student->sex}</td>
                            <td>{$student->name}</td>
                            <td width="15%">
                                <a href="{:url('edit')}" class="btn btn-info btn-xs">
                                <li class="glyphicon glyphicon-pencil"></li>&nbsp;编辑</a>&nbsp;
                                &nbsp;
                                <a href="{:url('delete')}" class="btn btn-danger btn-xs">
                                <li class="glyphicon glyphicon-trash"></li>&nbsp;删除</a>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}